body{
  position: relative;
}
header{
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: white;
  width: 100%;
  z-index: 20;
}
/*+animate css*/
